body {
  font-family: "Khula", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  text-align: center;
}
h1 {
  margin-bottom: -1.5rem;
  letter-spacing: 4px;
  font-size: 60px;
}
h3 {
  margin-top: -9px;
}
.button {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
footer {
  letter-spacing: 30px;
}
