body {
  margin: 0 auto;
  font-family: "Khula", sans-serif;
  font-weight: 400;
  background-color: #efe8eab9;
  margin-bottom: 40px;
}
.navbar {
  font-family: "Khula", sans-serif;
}
:root {
  --green-color: #9b9a94;
  --pink-color: #e0cbc4;
  --background-color: #ebe4de;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  text-align: center;
}
h1 {
  margin-bottom: -1.5rem;
  letter-spacing: 4px;
  font-size: 60px;
}
h3 {
  margin-top: -9px;
}
button {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: lowercase;
  letter-spacing: 3px;
  border-radius: 4px;
  padding: 7px;
}
button:hover {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 4px;
  padding: 7px;
}
hr {
  font-weight: bold;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #9b9a94;
}
footer {
  letter-spacing: 30px;
}
p {
  line-height: 1.7;
}

.hero {
  opacity: 0.9;
  padding: 20px;
  width: 80%;
  margin: 0 auto 30px;
  margin-top: 100px;
}
.hero-apps {
  background-color: #f8f9fa;
}
.img-fluid:hover {
  opacity: 0.7;
}
